KanBanSystem/ClientUI/Connected Services/KrabServices/WcfServiceInteraction.Services.AdditionalClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceInteraction.Services.AdditionalClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceInteraction.Services.AdditionalClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceInteraction.DTO" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceInteraction.DTO" minOccurs="0" name="User" nillable="true" type="q1:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
</xs:schema>